fastapi
uvicorn
celery
redis
boto3
pydantic
pydantic-settings
sqlalchemy
python-dotenv
psutil

# AlphaFold miner dependencies
numpy
pandas
requests
pydantic
pydantic-settings
tqdm
ml-collections
absl-py
typing-extensions
aiohttp
tenacity
backoff
hmmer
biopython
dm-tree
matplotlib
scipy
aiofiles
tabulate